// Typekit Fonts =====================================================
@import url("https://use.typekit.net/lzb1rwt.css");

//Colors =============================================================
$darkpurple:#331831;
$orange:#D36135;
$beige:#f1dac4;
$purple:#B695AC;
$white:#FFFFFF;
$olive: #84732B;
$mauve:#785A64;

#what-pg{
    background-color: $orange;
    padding:0;

    .what-content {
        background-color:$beige;
        margin:0 auto;
        width:80vw;
        height:110vh;
    }
}