@import url("https://use.typekit.net/lzb1rwt.css");
#what-pg {
  background-color: #D36135;
  padding: 0; }
  #what-pg .what-content {
    background-color: #f1dac4;
    margin: 0 auto;
    width: 80vw;
    height: 110vh; }
