@import url("https://use.typekit.net/lzb1rwt.css");
#what-pg {
  background-color: #f1dac4;
  border-top: 15px solid #785A64;
  padding: 0; }
  #what-pg .what-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; }
    #what-pg .what-content .steps {
      background: olive;
      border: 3px solid #695c22;
      color: #f1dac4;
      width: 200px;
      margin: 20px; }
  #what-pg .line-one {
    height: 98.5vh;
    border-bottom: 20px solid #331831;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0;
    animation: slidein1 .5s ease-in .15s forwards; }
  #what-pg .line-two {
    height: 102.5vh;
    border-bottom: 20px solid #785A64;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0;
    animation: slidein2 .5s ease-in .25s forwards; }
  #what-pg .line-three {
    height: 106.5vh;
    border-bottom: 20px solid #D36135;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0;
    animation: slidein3 .5s ease-in .35s forwards; }

@keyframes slidein1 {
  0% {
    width: 0%; }
  100% {
    width: 70vw; } }

@keyframes slidein2 {
  0% {
    width: 0%; }
  100% {
    width: 85vw; } }

@keyframes slidein3 {
  0% {
    width: 0%; }
  100% {
    width: 95vw; } }

@media only screen and (max-width: 800px) {
  .what-content {
    flex-direction: column; } }
