@import url("https://use.typekit.net/lzb1rwt.css");
.logo img {
  max-height: 95vh;
  position: absolute;
  opacity: .019;
  padding: 20px; }

@media only screen and (max-width: 800px) {
  .logo img {
    max-width: 95vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%; } }
