@import url("https://use.typekit.net/lzb1rwt.css");
#about-pg {
  background-color: #B695AC;
  min-height: 100vh;
  max-width: 100vw; }
  #about-pg .page-header {
    background-color: #f1dac4;
    text-align: center;
    align-self: flex-start;
    z-index: 1;
    padding: 12px 105px;
    color: #472f45;
    font-size: 55px;
    font-family: "hooligan-jf", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: -75px 0 0 10px;
    box-shadow: 0 5px 20px -4px #785A64; }
  #about-pg .about-us-content {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 30px 0; }
    #about-pg .about-us-content .team-info {
      padding: 30px;
      margin: 10px 10px;
      box-shadow: 5px 10px 20px #785A64;
      background-color: #B695AC;
      border-radius: 1px; }
      #about-pg .about-us-content .team-info img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        border: 5px solid #785A64; }
      #about-pg .about-us-content .team-info h2, #about-pg .about-us-content .team-info h4, #about-pg .about-us-content .team-info p {
        margin: 0;
        color: #331831; }
      #about-pg .about-us-content .team-info h2 {
        padding: 10px 0 0 0;
        font-size: 32px; }
      #about-pg .about-us-content .team-info h4 {
        font-size: 19px; }
      #about-pg .about-us-content .team-info hr {
        border: 0;
        height: 3px;
        background-color: #331831;
        width: 115px;
        border-radius: 10px;
        margin: 15px auto; }
      #about-pg .about-us-content .team-info p {
        font-size: 20px;
        text-align: left; }
      #about-pg .about-us-content .team-info .port-btn {
        padding: 7px 10px;
        background-color: #84732B;
        border: 3px solid #695c22;
        border-radius: 1px;
        margin: 30px 0 10px 0;
        cursor: pointer; }
      #about-pg .about-us-content .team-info a {
        font-size: 22px;
        font-family: "hooligan-jf", sans-serif;
        text-transform: uppercase;
        letter-spacing: .7px;
        color: #f1dac4; }
      #about-pg .about-us-content .team-info .port-btn:hover {
        background-color: #695c22;
        transform: scale(0.99); }
  #about-pg .company-explanation {
    background-color: #331831;
    align-self: flex-end;
    color: #dad5d9;
    font-size: 24px;
    max-width: 730px;
    margin: 30px 0 -90px 0;
    padding: 12px 40px;
    z-index: 2; }

@media only screen and (max-width: 800px) {
  #about-pg .page-header {
    font-size: 40px;
    align-self: center;
    padding: 10px 25px; }
  #about-pg .about-us-content {
    flex-wrap: wrap; }
  #about-pg .company-explanation {
    font-size: 20px; } }
