// Typekit Fonts =====================================================
@import url("https://use.typekit.net/lzb1rwt.css");

//Colors =============================================================
$darkpurple:#331831;
$orange:#D36135;
$beige:#f1dac4;
$purple:#B695AC;
$white:#FFFFFF;
$olive: #84732B;
$mauve:#785A64;

#about-pg {
    background-color: $purple;

    .page-header{
        background-color:$beige;
        align-self: flex-start;
        margin:-75px 0 0 10px;
        padding:12px 105px;
        z-index: 1;
        box-shadow: 0 5px 20px -4px $mauve;
        color:#472f45;
        text-align: center;
        font-size: 55px;
        font-family:"hooligan-jf", sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .about-us-content{
        display:flex;
        justify-content: center;
        z-index: 1;
        margin:30px 0;

        .team-info {
            padding:30px;
            margin:10px 10px;
            box-shadow: 5px 10px 20px  $mauve;
            border-radius: 1px;
            color:$darkpurple;

            img {
                width:230px;
                height: 230px;
                border-radius:50%;
                border:5px solid $mauve;
            }

            h2, h4, p {
                margin:0;
            }

            h2 {
                padding:10px 0 0 0;
                font-size: 32px;
            }

            h4 {
                font-size: 19px;
            }
            
            hr {
                border: 0;
                height: 3px;
                background-color: $darkpurple;
                width: 115px;
                border-radius: 10px;
                margin:15px auto;
            }

            p{
                font-size:20px;
                text-align: left;
            }

            .port-btn {
                background-color:$olive;
                margin:30px 0 10px 0;
                padding:7px 10px;
                border:3px solid #695c22;
                border-radius: 1px;
                cursor: pointer;
            }

            a {
                font-size:22px;
                font-family: "hooligan-jf", sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                color:$beige;
            }

            .port-btn:hover {
                background-color:#695c22;
                transform: scale(.99);
            }
        }
    }

    .company-explanation{
        background-color:$darkpurple;
        align-self: flex-end;
        color:#dad5d9;
        font-size: 24px;
        max-width:730px;
        margin:30px 0 -90px 0;
        padding:12px 40px;
        z-index: 2;;
    }
}

//Mobile Responsive  =================================================
@media only screen and (max-width: 800px) {
    #about-pg{
        .page-header{
            font-size: 40px;
            align-self: center;
            padding:10px 25px;
        }
        .about-us-content{
            flex-wrap: wrap;
        }
        .company-explanation {
            font-size:20px;
        }
    }
}