@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.typekit.net/lzb1rwt.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
* {
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "mr-eaves-modern", Arial, Helvetica, sans-serif;
  background-color: #331831;
  text-align: center;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.page {
  min-height: 110vh;
  max-width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column; }

#landing-pg {
  align-items: center;
  justify-content: space-around;
  background-color: #2d152c; }
  #landing-pg .line-one, #landing-pg .line-two, #landing-pg .line-three {
    margin-top: -20vh;
    height: 40vw;
    position: absolute; }
  #landing-pg .line-one {
    width: 105vw;
    border: 3.1vw solid #D36135;
    border-radius: 9vw;
    transform: translateX(-63vw) rotate(-90deg); }
  #landing-pg .line-two {
    width: 111vw;
    border: 2.4vw solid #785A64;
    border-radius: 11.5vw;
    transform: translateX(-60vw) rotate(-90deg); }
  #landing-pg .line-three {
    width: 117vw;
    border: 2.4vw solid #B695AC;
    border-radius: 14vw;
    transform: translateX(-57vw) rotate(-90deg); }
  #landing-pg .company-name {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 20vw;
    font-family: "hooligan-jf", Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase; }
  #landing-pg .mission-statement {
    color: #D36135;
    align-self: flex-end;
    font-size: 25px; }

@media only screen and (max-width: 800px) {
  #landing-pg {
    justify-content: center; }
    #landing-pg .company-name {
      font-size: 33vw; }
    #landing-pg .mission-statement {
      align-self: center; }
    #landing-pg .line-one, #landing-pg .line-two, #landing-pg .line-three {
      display: none; } }

.logo img {
  max-height: 95vh;
  position: absolute;
  opacity: .019;
  padding: 20px; }

@media only screen and (max-width: 800px) {
  .logo img {
    max-width: 95vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 25vh; } }

#about-pg {
  background-color: #B695AC; }
  #about-pg .page-header {
    background-color: #f1dac4;
    align-self: flex-start;
    margin: -75px 0 0 10px;
    padding: 12px 105px;
    z-index: 1;
    box-shadow: 0 5px 20px -4px #785A64;
    color: #472f45;
    text-align: center;
    font-size: 55px;
    font-family: "hooligan-jf", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
  #about-pg .about-us-content {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 30px 0; }
    #about-pg .about-us-content .team-info {
      padding: 30px;
      margin: 10px 10px;
      box-shadow: 5px 10px 20px #785A64;
      border-radius: 1px;
      color: #331831; }
      #about-pg .about-us-content .team-info img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        border: 5px solid #785A64; }
      #about-pg .about-us-content .team-info h2, #about-pg .about-us-content .team-info h4, #about-pg .about-us-content .team-info p {
        margin: 0; }
      #about-pg .about-us-content .team-info h2 {
        padding: 10px 0 0 0;
        font-size: 32px; }
      #about-pg .about-us-content .team-info h4 {
        font-size: 19px; }
      #about-pg .about-us-content .team-info hr {
        border: 0;
        height: 3px;
        background-color: #331831;
        width: 115px;
        border-radius: 10px;
        margin: 15px auto; }
      #about-pg .about-us-content .team-info p {
        font-size: 20px;
        text-align: left; }
      #about-pg .about-us-content .team-info .port-btn {
        background-color: #84732B;
        margin: 30px 0 10px 0;
        padding: 7px 10px;
        border: 3px solid #695c22;
        border-radius: 1px;
        cursor: pointer; }
      #about-pg .about-us-content .team-info a {
        font-size: 22px;
        font-family: "hooligan-jf", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #f1dac4; }
      #about-pg .about-us-content .team-info .port-btn:hover {
        background-color: #695c22;
        transform: scale(0.99); }
  #about-pg .company-explanation {
    background-color: #331831;
    align-self: flex-end;
    color: #dad5d9;
    font-size: 24px;
    max-width: 730px;
    margin: 30px 0 -90px 0;
    padding: 12px 40px;
    z-index: 2; }

@media only screen and (max-width: 800px) {
  #about-pg .page-header {
    font-size: 40px;
    align-self: center;
    padding: 10px 25px; }
  #about-pg .about-us-content {
    flex-wrap: wrap; }
  #about-pg .company-explanation {
    font-size: 20px; } }

#what-pg {
  background-color: #f1dac4;
  border-top: 15px solid #785A64;
  padding: 0; }
  #what-pg .what-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; }
    #what-pg .what-content .steps {
      background: olive;
      border: 3px solid #695c22;
      color: #f1dac4;
      width: 200px;
      margin: 20px; }
  #what-pg .line-one {
    width: 70vw;
    height: 98.5vh;
    border-bottom: 20px solid #331831;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0; }
  #what-pg .line-two {
    width: 85vw;
    height: 102.5vh;
    border-bottom: 20px solid #785A64;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0; }
  #what-pg .line-three {
    width: 95vw;
    height: 106.5vh;
    border-bottom: 20px solid #D36135;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0; }

@media only screen and (max-width: 800px) {
  .what-content {
    flex-direction: column; } }

.modal-background {
  background-color: #84732B; }

.modal-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 30px #785A64; }

.menu {
  position: fixed;
  right: 40px;
  top: 30px;
  font-size: 30px;
  color: white;
  z-index: 2; }
  .menu p {
    font-size: 16px;
    margin: 0;
    padding: 10px 0; }
  .menu .menu-icon {
    max-width: 40px;
    cursor: pointer; }
  .menu .menu-icon:hover {
    transform: scale(1.1);
    transition: .15s; }

.menu-background {
  background-color: rgba(0, 0, 0, 0.5); }

.menu-style {
  background-color: #D36135;
  height: 100%;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #bd572f; }
  .menu-style .menu-logo {
    max-width: 65px;
    max-height: 65px; }
  .menu-style .menu-text {
    display: flex;
    flex-direction: column; }
    .menu-style .menu-text .menu-nav, .menu-style .menu-text #contact-btn {
      margin: 0;
      padding: 8px 65px;
      width: 100%;
      font-size: 28px;
      color: #f1dac4;
      text-transform: uppercase;
      font-family: "hooligan-jf";
      letter-spacing: 1px;
      border: none;
      background: #D36135;
      cursor: pointer; }
    .menu-style .menu-text .menu-nav:hover, .menu-style .menu-text #contact-btn:hover {
      background-color: #331831;
      transition: .15s; }

@media only screen and (max-width: 800px) {
  .menu {
    display: none; } }

@media only screen and (max-width: 800px) {
  .page {
    padding: 50px 10px; } }
